body{
    margin:0px;
	padding:0px;
	box-sizing: border-box;
	/* background:linear-gradient(rgb(28, 67, 119),rgb(4, 48, 66)); */
	background-image: url("Hotell.jpg");
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
	background-attachment:fixed;
}

.container{
	position:relative;
    height:90%;
    width:90%;
    margin:5%;
	margin-top: 2%;
}

a{
	text-decoration: none;
    color:white;
	cursor: pointer;
}

.container h1{
	text-align:center;
	color:white;
}

.container .data_container .customer_info{
	position:relative;
    background-color: rgb(173, 182, 175);
	padding:10px;
	border-radius: 10px;
	display:block;
	margin-bottom:10px;
}

.container .data_container.active{
	filter:blur(10px);
	pointer-events: none;
	user-select: none;
}

.container .data_container .customer_content,.room_data,.registered_data{
    margin:5%;
}

.container .data_container h3{
    color:rgb(31, 28, 28);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
	border:2px solid rgb(9, 90, 128);
	padding:5px 0 5px 0;
}

.text_field{
	position:relative;
	border-bottom:2px solid #a07e7e;
	margin:30px 0;
}

.text_field input{
	width:80%;
	padding:0 5px;
	height:40px;
	font-size:16px;
	border:none;
	background:none;
	outline:none;
}

input[type=date]{
	width:130px;
}

input[type=number]::-webkit-inner-spinbutton,
input[type=number]::-webkit-inner-spinbutton{
	-webkit-apperance: none;
	margin:0;
}

input[type=number]{
	appearance: textfield;
	-moz-appearance: textfield;
}


.text_field label{
	position:absolute;
	top:50%;
	left:5px;
	color:#251a1a;
	transform:translateY(-50%);
	font-size:16px;
	pointer-events:none;
	transition:.5s;
}
.text_field span::before{
	content: '';
	position:absolute;
	top:40px;
	left:0;
	width:0;
	height:2px;
	background:#0f293b;
	transition: .5s;
}

.text_field input:focus ~ label,
.text_field input:valid ~ label{
	top:-5px;
	color:#0b3653;
}

.text_field input:focus ~ span::before,
.text_field input:valid ~ span::before{
	width:100%;
} 

#next{
    float:right;
    background-color: rgb(13, 43, 86);
    color:rgb(21, 115, 170);
    font-size:100%;
    padding:5px 10px 5px 10px;
}

#previous{
    margin-left:5%;
    background-color: rgb(15, 54, 78);
    color:rgb(15, 99, 172);
    font-size:100%;
    padding:5px 10px 5px 10px;
	margin-bottom:5%;
}

.rooms_type,.amenities{
	display:flex;
	justify-content:space-evenly;
	flex-wrap: wrap;
	margin-top:2%;
}

.container .data_container .customer_info a{
	border-radius: 5px;
	text-decoration: none;
	background-color: blue;
    color:white;
    font-size:100%;
    padding:5px 10px 5px 10px;
	cursor: pointer;
}

#popup{
	display: none;
	background-color: #32c8e6;
	border-radius: 10px;
	position:fixed;
	top:50%;
	left:52%;
	align-items: center;
	width:min(80%,400px);
	transform:translate(-50%,-50%);
}

#popup h2{
	color:rgb(9, 62, 79);
	text-align:center;
}

#popup .registered_data{
	padding-left:5%;
}

#popup .registered_data label{
	display: inline-block;
}

#popup.active{
	visibility: visible;
	opacity: 1;
	transition: .5s;
}

#popup button{
    float:right;
	margin:10px 10px 0 0;
    color:black;
	border-radius: 50%;
    border: none;
	font-size: 20px;
	font-weight: bold;
    cursor: pointer;
}

@media screen and (max-width:400px) {
	.container .data_container .bgcontainer{
		display:none;
	}
}

@media screen and (min-width:400px) and (max-width:600px){
	.container .data_container .bgcontainer{
		display:none;
	}
} 

@media screen and (min-width:600px) and (max-width: 800px) {
	.container .data_container .bgcontainer{
		display:none;
	} 
	.container .data_container .customer_info{
		position:absolute;
		width:400px;
		transform: translateX(30%);
	} 
}

@media screen and (min-width: 800px) {


	.bgcontainer{
		background-color: rgba(0,0,0, 0.4);
		color: white;
		font-weight: bold;
		border: 3px solid #f1f1f1;
		position:fixed;
		top:55%;
		left:20%;
		transform: translateY(-50%);
		visibility: visible;
	}

	.bgcontainer .msg{
		font-size:30px;
		align-items: center;
		font-weight: bold;
		padding:20%;
	}

	.bgcontainer .msg #hotel_name{
		font-size:50px;
	} 

	.container .data_container .customer_info{
		position:absolute;
		width:35%;
		right:50px;
	} 
	
} 